*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width:100%
}
#home{

}
#nav{
    position:relative;
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw;
}
#nav a{
    font-size: 12px;
    text-decoration: none;
    color: black;
}

#nleft{
    display: flex;
    gap: 30px;
}

#nav #centeratag{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    }

#hero{
    width: 100%;
    margin-top: 15vw;
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sustain{
width:10vw;
}

#sustain p{
text-transform: capitalize;
font-weight: 800;
opacity: .5;
font-size: 14px;
margin:10px 0;

}

#sustain #susimagewrapper{
    position: relative;
    overflow: hidden;
    width: 10vw;
    height: 15vw;
    
}
#susimagewrapper img{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    width:140%;
    height: 140%;
    object-fit: cover;
}
#ephemeral{
    position: relative;
    width: 30vw;
    min-height:42vw;
}

#imgntext{
    width: fit-content;
    height: fit-content;
}
#ephemeral img{
    width:100%;
    height: 100%;
    object-fit: cover;

}
#ephemeral p{
    margin-top: 30px;
    font-size: 1.2vw;
    letter-spacing: -.07vw;
    line-height: 1.3;
    width: 50%;
}
#ephemeral #headings{
    top: -22%;
    left:-20%;
position: absolute;
}
#ephemeral h1{
    letter-spacing: -.4vw;
    line-height: 1;
    font-size: 6vw;
    font-weight: 400;
}
#visit{
    display:flex;
    gap: 10px;
    align-items: center;
}
#circlev{
    border-radius: 50%;
    border: 2px solid #5b5757;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height:3vw;
}
#circlev{
    color: #5b5757;
}

#visit h3{
    font-weight: 400;
color: #5b5757;
}

#motive{
    margin-top: 7vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
#motive p{
    line-height: 1.7;
    letter-spacing: -.1vw;
    font-weight: 700;
    position: relative;
    right: 0;
    width:85%;
    text-align: right;
    font-size: 2vw;
}
#motive span{
    display: inline-block;
    border-radius: 100px;
    margin:0 10px;
    background-color: red;
}
#onespan{
    width: 80px;
    height: 50px;
    background-image: url(./Images/bluegirl.jpg);
    background-size: cover;
    background-position: center;
}
#twospan{
width: 80px;
    height: 50px;
    background-image: url(./Images/shaljam.jpg);
    background-size: cover;
    background-position: center;
}
#threespan{
width: 80px;
    height: 50px;
    background-image: url(./Images/grass.jpg);
    background-size: cover;
    background-position: center;
}

#pictures{
    display: flex;
    justify-content: space-between;
    margin-top: 8vw;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
}
#firstpic #picimg{
    width: 17vw;
    height: 24vw;
    background-color: red;
    margin-bottom: 1vw;
}
#firstpic{
    width: 22vw;
}
#picimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#firstpic h1, #secpic h1{
    letter-spacing: -.1vw;
    font-weight: 100;
    font-size: 2vw;
}

#firstpic p, #secpic p{
    opacity: .8;
    font-size: 1vw;
    letter-spacing: -.07vw;
    line-height: 1;
    margin-top: 10px;

}

#secpic #picimg{
    width: 100%;
    height: 37vw;
    background-color: red;
    margin-bottom: 1vw;
}

#secpic{
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#banner{
    width: 100%;
    margin-top: 8vw;
    display: flex;
    align-items: center;

}

#bimg{
    width: 65%;
    height: 60vh;
    background-color: red;
}

#bimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 70%;
}
#btext{
    width: 35%;
    padding: 0 3vw;
}
#btext h1{
    font-size: 2.4vw;
    font-weight: 400;
    letter-spacing: -.1vw;
    line-height: 1;

}
#btext p{
    margin-top: 20px;
    width: 60%;
    font-size: 1vw;
}
#future{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
#future video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    width: 100%;
}

#ftext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9999;
    background-color: #fff;
    padding: 1vw 2vw;
    border-radius: 10px;
}

#ftext button{
    padding: .7vw 1.7vw;
    font-size: .7vw;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 10px;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #5e5e5e;
    color: #5e5e5e;
}