*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width:100%
}
#nav{
    position:relative;
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw;
}
#nav a{
    font-size: 12px;
    text-decoration: none;
    color: black;
}

#nleft{
    display: flex;
    gap: 30px;
}

#nav #centeratag{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    }